<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gameloft.com.easyorder_server">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="Easy Order Server"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/hien_layout_danh_sach_dat_mon"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".them_mon_an"
            android:label="Thêm món ăn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".quan_li_ban"
            android:label="Quản lí bàn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".quan_li_mon_an"
            android:label="Quản lí món ăn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login"
            android:label="Easyorder SERVER"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".item_quan_li_mon_an" />
        <activity android:name=".Thong_Tin_Ban" />
        <activity android:name=".Them_ban" />
        <activity
            android:name=".QuanLiTaiKhoan"
            android:label="@string/title_activity_quan_li_tai_khoan"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>